<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/principal.css" rel="stylesheet"/>
    <link href="css/slideGallery.css" rel="stylesheet"/>
    <script src="js/main.js"></script>
    <title>La Buleka</title>
</head>
<header>
    <div id="logo">
       <img src="/images/logo.png" alt="La Buleka logo"/> 
    </div>
</header>

<body>
    <nav id="horizontal_nav">
        <ul>
            <li><a href="index.html">Inicio</li>
            <li><a href="tienda.html">Tienda</li>
            <li><a href="local.html">Local</li>
            <li><a href="">Contacto</li>
        </ul>
    </nav>
    
    <!-- Div contenedor de imagenes en slideShow -->
    <div class="img_slide_container">

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <!-- Full width images -->
        <div class="slide firstslide">
            <div class="numbertext">1 / 4</div>
            <img src="images/tomates.jpg" alt="tomates" style="width: 100%">
        </div>

        <div class="slide">
            <div class="numbertext">2 / 4</div>
            <img src="images/huevos.jpg" alt="Huevos">
        </div>

        <div class="slide">
            <div class="numbertext">3 / 4</div>
            <img src="images/chia.avif" alt="Chia">
        </div>

        <div class="slide">
            <div class="numbertext">4 / 4</div>
            <img src="images/Paltas.webp" alt="Paltas">
        </div>

        <div style="text-align:center" id="dots">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
        </div>
    </div>

    <main>
        <section>
            <h2>PRODUCTOS DESTACADOS</h2>
            <article>
                <div class="img_container">
                    <img src="images/Paltas.webp" alt="paltas">
                </div>
                <div class="product_footer">
                    <p>Paltas</p>
                    <p>$950</p>
                </div>
            </article>
            <article>
                <div class="img_container">
                    <img src="images/chia.avif" alt="paltas">
                </div>
                <div class="product_footer">
                    <p>Chia</p>
                    <p>$700</p>
                </div>
            </article>
            <article>
                <div class="img_container">
                    <img src="images/chia.avif" alt="paltas">
                </div>
                <div class="product_footer">
                    <p>Chia</p>
                    <p>$700</p>
                </div>
            </article>
        </section>
    </main>







</body>
</html>
