.register-container{
    display: flex;
    margin: 50px auto;
    padding: 20px;
    width: 50%;
}

.form-container{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color:#74B951;
    border-radius: 5px;
    width: 100%;
}

form#registerForm{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input{
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    height: 40px;
}

form button{
    border: none;
    border-radius: 5px;
    margin: 30px 10px 0px;
    padding: 5px;
    height: 40px;
    background-color: #E1EDDA;
    width: 100px;
    align-self: center;
}

form button:hover{
    cursor: pointer;
}

.resgiterInput{
    width: 90% !important;
}

.registerForm{
    width: 80% !important;
}

@media (max-width: 700px){
    .register-container{
        width: 90%;
    }
}