<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forbidden</title>
</head>
<body>
    <%-include('./partials/header.ejs')%>
    <h1>404 Not found</h1>
    <h3>La página que estas buscando no existe.</h3>
    <p><a href="/">Volver al inicio</a></p>
    <%-include('./partials/footer.ejs')%>
</body>
</html>