<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <%-include('./partials/head.ejs')%>
    <title>Ingresar</title>
</head>
<body>
    <%-include('./partials/header.ejs')%>
    <h2>Iniciar Sesión</h2>
    <div class="login-container">
        <div class="form-container">
            <form action="/users/login" method="POST">
                
                <input type="email" placeholder="Ingresa tu email" name="email">
                <input type="password" placeholder="Ingresa tu contraseña" name="password">
                <button type="submit">Ingresar</button>
                <br>
                <a href="/register">¿No tenés cuenta? Creá una.</a>
            </form>
        </div>
    </div>
    
    <%-include('./partials/footer.ejs')%>
</body>
</html>