<!DOCTYPE html>
<html lang="en">
<head>
   <%-include('./partials/head.ejs')%>
   <link rel="stylesheet" href="/css/newProduct.css">
</head>
    <%-include('./partials/header.ejs')%>

    <h2>Crear nuevo producto</h2>
    <%-include('./partials/productForm.ejs')%>   


    <%-include('./partials/footer.ejs')%>
<body>
    
</body>
</html>