<footer>
    <section>
        <article>
            <i class="fa-solid fa-truck"></i>
            <h3>Envío gratis</h3>
            <p>Los sabados envíos gratis a domicilio a partir de los $4500.</p>
        </article>
        <article>
            <i class="fa-solid fa-credit-card"></i>
            <h3>Paga como quieras</h3>
            <p>Paga con tarjeta de débito, crédito, efectivo o QR.</p>
        </article>
        <article>
            <i class="fa-solid fa-shop"></i>
            <h3>Retirá por el local</h3>
            <p>Hacé tu pedido online y tenelo listo para retirar por el local cuando quieras.</p>
        </article>
    </section>
    <p>Copyright © 2023-2024 LaBuleka S.R.L.</p>
</footer>
<script src="/js/main.js" type="text/javascript"></script>
<script src="/js/cart.js" type="text/javascript"></script>
<script src="/js/processLogin.js" type="text/javascript"></script>
<script src="/js/registerValidations.js" type="text/javascript"></script>
<script src="/js/contact.js" type="text/javascript"></script>