<header>
    <div class="dropdown">
        <button class="dropbtn"><i class="fa-solid fa-bars"></i></button>
        <div class="dropdown-content">
            <a href="index.html">Inicio</a>
            <a href="tienda.htm">Tienda</a>
            <a href="local.html">Local</a>
            <a href="">Contacto</a>
        </div>
    </div>
    <div class="logo-container">
        <a href="/"> <img src="/images/logo.png" alt="La Buleka logo"/> </a>
    </div>
    <div class="bottom-header">
        <nav class="horizontal_nav">
            <ul>
                <li><a href="/">Inicio</li>
                <li><a href="/tienda">Comprar</li>
                <li><a href="/local">Local</li>
                <li><a href="#">Contacto</a></li>
                <li><a href="/products/create">Vender</a></li>
            </ul>
        </nav>
        <a class ="user-icon" href="/login"><i class="fa-solid fa-user"></i></a>
        <i class="fa-solid fa-magnifying-glass mobile"></i>
        <div class="search-bar">
            <i class="fa-solid fa-magnifying-glass"><input type="text" placeholder="Buscar productos"></i>
        </div>
        <!-- <i class="fa-solid fa-cart-shopping"></i> -->
    </div>
    <!-- <i class="fa-solid fa-bars"></i> -->
</header>